@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
    margin: auto;
    display: block;
  }
}

@media screen and (max-width: 768px) and (min-width: 700px) {
  img {
    width: 90vw;
    margin: auto;
  }
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 700px) {
  img {
    width: 90vw;
    margin: auto;
  }
  body {
    background-color: teal;
  }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  body {
    background-color: red;
    color: darkblue;
    text-align: center;
  }
  ul {
    width: 10vw;
    margin: auto;
    text-align: left;
  }
  ol {
    width: 40vw;
    margin: auto;
    text-align: left;
  }
  
}